@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        EventCallback.InvokeAsync((currentCount.ToString(), currentCount, (decimal)currentCount));
    }

    [Parameter]
    public EventCallback<(string, int, decimal)> EventCallback { get; set; }
}
